<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel class="asset-status-wrapper panel" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
             <b>Diesel Exhaust Fluid (DEF) Level</b>
            </mat-panel-title>
          </mat-expansion-panel-header> 
          
          <div class="content">

          </div>
          <div class="footer">
            <p>No data received</p>
          </div>
 
    </mat-expansion-panel>
   
  </mat-accordion>