<div class="device">
    <ccss-device-header></ccss-device-header>
</div>
<div class="details">
    <ccss-details></ccss-details>
</div>
<div class="col-container">
    <div class="col">
        <ccss-fuel-level></ccss-fuel-level>
    </div>
    <div class="col">
       <ccss-location></ccss-location>
    </div>
    <div class="col">
        <ccss-diesel-exhaust-fluid></ccss-diesel-exhaust-fluid>
    </div>
</div>    

<div class="col-container">
    <div class="col">
      <ccss-notes></ccss-notes>
    </div>
    <div class="col">
       <ccss-asset-utilization></ccss-asset-utilization>
    </div>
   
</div>   

<div class="col-container">
    <div class="col">
      <ccss-device-details></ccss-device-details>
    </div>
    <div class="col">
       <ccss-ecm-information></ccss-ecm-information>
    </div>
   
</div>   
<div class="col-container">
    <div class="col">
        <ccss-notification></ccss-notification>
    </div>
    <div class="col">
       
    </div>
    <div class="col">
       
    </div>
   
</div>   
