<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel class="asset-status-wrapper" [expanded]="true" style="margin: 10px 20px;">
        <mat-expansion-panel-header>
            <mat-panel-title>
             <b>Device Details</b>
            </mat-panel-title>
          </mat-expansion-panel-header> 
        
          <div class="content">
            <button mat-raised-button color="primary">Ping Device</button>
            <div class="lengths">
              <p><b>Registered Dealer:</b>  NIKON-TRIMBLE CO LTD</p>
              <p><b>Device Type:</b>  SNM451</p>
              <p><b>Serial Number:</b>  124600933</p>
              <p><b>Firmware Version:</b>  Prod_3G_2.2.0.0_0_SNM45x_BCP</p>
              <p><b>Cell Modem IMEI:</b>  359998043029224</p>
            </div>
          </div>
    
 
    </mat-expansion-panel>
   
  </mat-accordion>