mat-expansion-panel-header {
    background-color: #ddd !important
}
p{
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    color: #666666;
    text-transform: uppercase;

  }
b{
    text-transform: uppercase;
    color: #616161;
  }
.content{
    height: 250px;
    text-align: center;
    padding-top: 20px;
    font-size: medium;
}